# Site
name: "Bingiz Kitchen"
title: "Bingiz Kitchen - Recipes"
description: "The purpose of Bingiz Kitchen is to spread popular and every-green Indian recipes, in particular south-indian, to all, across geographies, through intuitive video making of cooking.  This channel would bring you both VEG & NON-VEG recipe shows. You can check our well curated playlists to watch your favourite recipes.  You would certainly agree that food taste would vary from person to person even though following the same recipe.  So by giving unique watching experience as if you are cooking at your own kitchen, you can bring the same taste as close as possible. Further requesting you all to share your views/comments and suggestions to keep this channel more vibrant and useful.  Hope you all would enjoy watching videos and help spreading this channel to max possible.  Watch out to see more exciting, engaging, delicious and interesting videos from Bingiz Kitchen."
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl: /
google_analytics: ''
disqus: 'demowebsite'
mailchimp-list: ''
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  sal:
    name: Bingiz
    display_name: Bingiz
    gravatar: e56154546cf4be74e393c62d1ae9f9d4
    email: bingiz.kitchen@gmail.com
    web: https://bingizkitchen.com
    twitter: https://twitter.com/bingizkitchen
    description: "The purpose of Bingiz Kitchen is to spread popular & every-green Indian recipes, in particular south-indian, to all, across geographies, through intuitive video making of cooking."
# Plugins
plugins: 
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: ""
adsense-data-ad-slot: ""

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"
